:root {
  --blue: #0065fc; 
  --white: #fff; 
  --grey: #f2f2f2; 
  --sky: #deebff;
}

body {
  margin: auto;
  padding: 0 30px;
  max-width: 1400px;
  font-family: Raleway, sans-serif;
}

main {
  display: flex;
}

nav {
  display: flex;
  justify-content:space-between
}

ul { 
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul {
  display: flex;
}
nav img {
  margin-top: 20px;
  width:60px ;
  height:30px;
}

 h1 {
  font-weight:bold;
  font-size: x-large;
  margin: 30px 0 15px;
}

.filtres ul {
  display: flex ;
  gap: 16px;
}

nav li {
  display: flex;
}

a {
  text-decoration: none;
  color:black ;
}



nav a {
  border-top: solid 2px transparent;
  padding: 25px;
}

nav a:hover,
nav a:focus {
  border-top-color: var(--blue);
  color: var(--blue) ; 
}

figure {
  margin:0;
}

form {
  display: flex;
  flex-direction: row;
  margin: 14px 0;
  width: 400px;
  height: 50px;
  border-radius: 10px 0 10px 0;
}
.hide-mobile {
  font-style: normal;
}

 form button {
  font-style: normal;
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
  padding: 10px;
  background-color: var(--blue);
  border-radius:0 10px 10px 0 ;
}

.fa-location-dot {
  background-color: var(--grey);
  border: 2px solid var(--grey);
  padding: 17px;
  border-radius:20% 0 0 20% ;
}
.fa-magnifying-glass {
  display: none;
}
form input{
  background-color: var(--white);
  font-weight: bold;
  border: 1px solid var(--grey)
}

p {
  color: black;
  font-size: smaller;
}

.fa-info {
  position: relative;
  border-bottom: 2px;
  border: solid 1px var(--grey);
  background-color: var(--white);
  border-radius: 50%;
  padding: 5px;
  width: 8px;
  height: 10px;
}

p i {
  color: var(--blue);
  background-color: var(--grey);
}


.filtres {
  display: flex;
  object-fit: contain;
  flex-flow: row nowrap;
  justify-content:flex-start;
  align-items: flex-start;
  margin: 30px 0;
  border: 10em;
}
.filtres ul {
  margin: 17px;
}

.filtres li {
  border: 2px solid var(--grey);
  background-color : #fff;
  border-radius: 45px;
  padding: 8px;
  font-weight: bold;
}

.filtres li:hover, 
.filtres li:focus, 
[type="button"]:hover,
[type="button"]:focus {
background-color: var(--sky); 
}

.filtres i {
  border: none;
  color: var(--blue); 

}

[ type="button"] {
  border: none;
  font-weight: bold;
  background-color: var(--white);
}

.filtres h2 {
  font-weight:bold;
  font-size: larger;
}

p {
  margin: 15px 0;
}

header p {
  color:black;
  font-size: medium;
}

p {
  color: black;
  font-size: smaller;
}

h2 {
  font-weight:bold;
  font-size: medium;
  font-family: Raleway;
}

img { 

  max-width:  100%;
  height: auto;
  object-fit: contain;
}
main {
  display: flex;
  box-sizing: border-box;
  gap: 40px;
}

figcaption {
  padding:5px 10px 10px;
}

.hebergements img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.hebergements {
  display: inline-block;
  position: relative;
  padding: 0 30px;
  border: 5px solid var(--grey);
  background-color: var(--grey);
  border-radius: 45px;
  box-sizing: border-box;
  width: 70%;

}


.hebergements ul {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: content;
  gap: 30px;
}

 .hebergements h2 {
  margin:25px 0;
  font-size: x-large;
}

.hebergements li {
  width: calc((100% - 60px) / 3);
}
.hebergements a > figure {
  padding: 2px;
  height: 150px;
  background-color: var(--white);
  box-shadow: 5px 5px 10px 0 silver;
  border-radius: 20px;
}

.populaires img {
  width: 120px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}


.populaires {
  display:inline-block;
  border: 2px solid var(--grey);
  background-color: var(--grey);
  border-radius: 45px;
  box-sizing: border-box;
  width: 30%;
  padding:30px;
}

.populaires header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: 100px;
}

header h2 {
  font-size: x-large;
}

header i {
  color: var(--blue);

}

.populaires ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: content;
  gap: 30px;
}

.populaires a > figure {
  border: #fff solid 4px;
  border-radius: 10px;
  display:flex ;
  order: 1;
  align-self: stretch;
}

.populaires  li {
  border: 2px solid var(--grey);
  background-color: var(--white);
  border-radius:  20px;
  max-width: 100%;
}
figcaption {
  display: flex;
  flex-direction: column;
}
.hebergements figcaption {
  height: 100px;
  justify-content: space-between;
}

.populaires figcaption {
  justify-content: space-between;
  position: relative;
  height: 150px;
}

.populaires figcaption figure {
  position: relative;
  bottom: 10px;
  left: 10px;
}

 figcaption h3,figcaption p {
  margin: 0;
 }
  .populaires figcaption h3 {
    font-size:  0.9rem;
  }

 .populaires figcaption p {
  margin: 0 0 50px;
 }

figcaption figure {
  color:var(--blue);
}
figcaption figure .fa-star:last-child {
color: var(--grey);
}

.activites {
  margin-bottom: 60px;
}

.activites img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activites h2 {
  font-weight: bold;
  font-size: x-large;
}

.activites ul {
  display: flex;
  gap: 40px;
}

.activites li {
  background-color: var(--white);
  width: calc((100% - 120px) / 4) ;
  }

.activites figure {
  color: black;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0 silver;
}
.activites figcaption {
  font-weight: bolder;
  font-size: small;
}



footer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  background-color: var(--grey);
  padding: 20px 50px 20px 20px ;
}

footer h3 {
  margin:15px 0;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 991px) {
  main {
    flex-direction: column;
  }

  .hebergements,
  .populaires {
    width: 100%;
  }

  .populaires ul {
flex-direction: row;
  }
  .populaires li {
    width: calc((100% - 80px) / 3);
    border: 3.5px solid var(--white);
    border-radius: 15 px;
  }

.populaires img {
  border-radius: 15px 0 0 15px;
  width: 100px;
}
.populaires figcaption {
 font-size: small;
}

  .activites figcaption {
    height: 20px;
  }
}
@media (max-width: 767px) {
  main {
    flex-direction: column-reverse;
  }

  .populaires,
  .hebergements,
  .activites, 
  .populaires li,
  .hebergements li,
  .activites li {
    width: 100%;
  }

  nav,
  .populaires ul,
  .hebergements ul,
  .activites ul,
  footer {
    flex-direction: column;
  }
  
  nav  {
    place-items: center;
  }
  nav ul {
  text-align: center;
  }
 
  nav li {
    width: 50vw;
    justify-content: center;
    font-size: larger;
  }

  nav a {
    border-top: none;
    border-bottom: solid 4px transparent;
    width: 100%;
  }
  nav a:hover, 
  nav a:focus {
    border-color: var(--blue);
  }

  form, 
  input {
    width: 100%;
  }
  .hide-mobile {
    display:none;
  }
  .fa-magnifying-glass {
    display: block;
  }
  .filtres ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .filtres span {
    font-size: x-small;
  }
  .filtres {
    flex-flow: column;
  }

  .filtres li {
    width: 118px;
    padding: 5px;
  }
}